.item-card__container {
  border: 1px;
  display: flex;
  position: relative;
  width: fit-content;
  list-style-type: none;
  height: 326px;
  width: 323px;
}

.item-card__title {
  font-size: var(--body-font-size);
  line-height: var(--body-line-height);
  font-family: var(--project-font);
  font-weight: var(--font-weight-bold);
  background-color: rgba(255, 255, 255, 1);
  color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 4px;
  margin: 0;
  padding: 2px 12px;
}

.item-card__image {
  width: 100%;
  border-radius: 8px;
}
