:root {
  --title-font-size: 20px;
  --title-line-height: 24px;
  --project-font: "Cabinet Grotesk", sans-serif, serif;
  --body-font-size: 16px;
  --body-line-height: 20px;
  --font-weight-regular: 500;
  --font-weight-bold: 700;
}

.page {
  background-color: #f3f3f3;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.page__content {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 20px;
  flex-grow: 1;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
