.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px 0 28px;
  font-family: var(--project-font);
  font-size: var(--title-font-size);
  line-height: var(--title-line-height);
  font-weight: var(--font-weight-bold);
  width: 100%;
}

.header__logo {
  margin-right: 24px;
}

.header__date-location {
  margin: 0;
}

.header__add-button {
  margin-right: 20px;
  font-size: var(--title-font-size);
  line-height: var(--title-line-height);
  font-weight: var(--font-weight-bold);
  background-color: transparent;
  border: none;
}

.header__user-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__link-profile {
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
}
