.header {
  display: flex;
  align-items: center;
  padding: 32px 0 28px;
  font-family: var(--project-font);
  font-size: var(--title-font-size);
  line-height: var(--title-line-height);
  font-weight: var(--font-weight-regular);
}

.header__logo {
  margin-right: 24px;
}

.header__date-location {
  margin: 0;
}

.header__add-button {
  margin: 0 20px 0 auto;
}

.header__user-container {
  display: flex;
  align-items: center;
  gap: 12px;
}
