.modal__content_type_item {
  width: 498px;
  height: 610px;
  padding: 0px;
  border: none;
  border-radius: 16px;
}

.modal__image {
  height: 498px;
  width: 100%;
  padding: 0;
}

.modal__close-button_type_item {
  position: absolute;
  top: 24px;
  right: 24px;
  background-color: transparent;
}
