.modal__content_type_item {
  width: 498px;
  height: 610px;
  border: none;
  border-radius: 16px;
  padding: 0;
}

.modal__image {
  height: 498px;
  width: 100%;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.modal__close-button_type_item {
  position: absolute;
  top: 24px;
  right: 24px;
  background-color: transparent;
}

.modal__caption {
  font-family: var(--project-font);
  font-weight: var(--font-weight-bold);
  font-size: var(--title-font-size);
  line-height: var(--title-line-height);
  margin: 0;
}

.modal__weather {
  margin: 0;
}

.modal__footer {
  font-family: var(--project-font);
  font-weight: var(--font-weight-bold);
  font-size: var(--title-font-size);
  line-height: var(--title-line-height);
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 20px 0 32px 32px;
}
