.clothes-section {
  width: 100%;
  font-family: var(--project-font);
  font-size: var(--title-font-size);
  line-height: var(--title-line-height);
  font-weight: var(--font-weight-bold);
}

.clothes__title-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin: 0 0 16px 0;
}

.clothes__add-button {
  border: none;
  background-color: transparent;
}
